<script src="/lib/angular-1.4.8.min.js"></script>

<!-- modal modifica eroe -->

	<h3 class="mod-title" id="modaltitle">MODIFY</h3> 
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
	
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      s
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
		


	<div class="modalbody">
	<table>
		<tr>Name <input type="textbox" name="box" placeholder="change name"></tr>
		<tr>Age <input type="textbox" name="box" placeholder="change age"></tr>
		<tr>Gender <input type="textbox" name="box" placeholder="change gender"></tr>
		<tr>Distinguish Marks <input type="textbox" name="box" placeholder="change marks"></tr>
		<tr>Note <input type="textbox" name="box" placeholder="change notes"></tr>

	</table></div>	

	<button class="btn">Save changes</button>

<!-- modal mostra dettagli eroe -->
<div class="modaldetail">
	<h3>Dettagli</h3>
	<th></th>
	<br>
	<button>Close</button>
</div>

<!-- modal cancella eroe -->
<div class="modaldelete">
	
</div>	

<!-- modal aggiungi eroe -->
<div class="modaladd"> 
	<h3>Aggiungi Supereroe</h3>
	<table>
		<tr>Name <input type="textbox" name="box" ><span >required</span></tr>
		<tr>Age <input type="textbox" name="box" ></tr>
		<tr>Gender <input type="textbox" name="box" ></tr>
		<tr>Distinguish Marks <input type="textbox" name="box"></tr>
		<tr>Note <input type="textbox" name="box" ></tr>

	</table>
</div>